<form class="rd-mailform offset-top-23" name="contact" netlify-honeypot="bot-field" data-form-output="form-output-global" data-form-type="contact" method="POST" action="thank-you" netlify>
  <p class="hidden">
  <label>Don’t fill this out if you're human: <input name="bot-field"></label>
</p>
  <div class="form-group">
    <label for="contact-email" class="form-label">E-mail</label>
    <input id="contact-email" type="email" name="email" data-constraints="@Required @Email" class="form-control">
  </div>
  <div class="form-group offset-1">
    <label for="contact-phone" class="form-label">Телефон</label>
    <input id="contact-phone" type="text" name="name" data-constraints="@Numeric" class="form-control">
  </div>
  <div class="form-group offset-1">
    <label for="contact-message" class="form-label">Запитання</label>
    <textarea id="contact-message" name="message" data-constraints="@Required" class="form-control"></textarea>
  </div>
  <button type="submit" class="offset-1 btn btn-primary btn-block">Надіслати питання</button>
</form>
