<header class="page-head">
  <!-- RD Navbar-->
  <div class="rd-navbar-wrap">
    <nav class="rd-navbar" data-stick-up-clone="true" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-stick-up-offset="165px" data-md-device-layout="rd-navbar-static" data-md-layout="rd-navbar-static" data-lg-stick-up-offset="165px" data-lg-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-static">
      <div class="rd-navbar-aside">
        <div data-rd-navbar-toggle=".rd-navbar-aside" class="rd-navbar-aside-toggle"><span></span></div>
        <div class="rd-navbar-aside-content">
          <div class="shell">
            <div class="rd-navbar-aside-inner">
              <div class="rd-navbar-aside-left">
                <address class="contact-info">
                  <dl>
                    <dt>Адреса</dt>
                    <dd>Україна, м.Конотоп</dd>
                  </dl>
                </address>
              </div>
              <div class="rd-navbar-aside-right">
                <div class="unit unit-horizontal unit-spacing-sm unit-middle">
                  <div class="unit-left"><span class="icon-image"><img src="images/icon-call-39x38.png" alt="" width="39" height="38"/></span></div>
                  <div class="unit-body"><a href="callto:#" class="link link-md">+38 (098) 78 - 22 - 475</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rd-navbar-inner">
        <!-- RD Navbar Panel-->
        <div class="rd-navbar-panel">
          <!-- RD Navbar Toggle-->
          <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
          <!-- RD Navbar Brand--><a href="index.html" class="rd-navbar-brand"><span class="brand-name"><img src="images/logo.svg" alt="" width="270" height="51"/></span></a>
        </div>
        <div class="rd-navbar-nav-wrap">
          <!-- RD Navbar Nav-->
          <ul class="rd-navbar-nav">
            <li class="active"><a href="index.html">Головна</a>
            </li>
            <li><a href="about.html">Про мене</a>
            </li>
            <li><a href="services.html">Послуги</a>
            </li>
            <li><a href="contacts.html">Зв'язок</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
